<div class="container">

  <div class="alert alert-danger" *ngIf="usuarioForm.invalid && usuarioForm.touched">
    Preencha todos os campos corretamente
  </div>

  <!--
    Atributos de componentes úteis à validação:
    touched: já foi tocado
    pristine: nada foi digitado
    dirty: algo já foi digitado
  -->

  <form #usuarioForm="ngForm" (submit)="salvar(usuarioForm)" >
    <div class="form-group">
      <label class="form-control-label">Nome</label>
      <input type="text" class="form-control" name="nome" [(ngModel)]="cliente.nome" required minlength="10" #nome="ngModel">
      <div *ngIf="nome.invalid && nome.touched" style="color: red">Informe um nome válido</div>
    </div>

    <div class="form-group">
      <label class="form-control-label">E-mail</label>
      <input type="text" class="form-control" name="email" [(ngModel)]="cliente.email" required email #email="ngModel">
      <div *ngIf="email.invalid && email.touched" style="color: red">Informe um email válido</div>
    </div>

    <div class="form-group">
      <label class="form-control-label">Profissão</label>
      <select class="form-control" name="profissao" [(ngModel)]="cliente.profissao" required #profissao="ngModel">
        <option value="">Selecione...</option>
        <option *ngFor="let profissao of profissoes" [value]="profissao">{{ profissao }}</option>
      </select>
      <div *ngIf="profissao.invalid && profissao.touched" style="color: red">Informe uma profissão</div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!usuarioForm.valid">Salvar</button>
    <abbr style="color: red; padding: 10px;">{{ usuarioForm.valid?'':' * Preencha todos os campos corretamente' }}</abbr>

  </form>

</div>
