<!-- template html usado pelo componente, repassado para o index-->
<div style="padding: 15px;">
      
    <!--Binding de eventos: usados para comunicação entre componentes-->
    <!--O objeto de evento em si é, neste caso, do mesmo tipo que fora passado
    no form de funcionário. Neste caso, ele só precisa ser recebido e adicionado no
    app component-->
    <app-funcionario-form (funcionarioAdicionado)= "onFuncionarioAdicionado($event)"></app-funcionario-form>

    <div style="padding: 15px; margin-top: 10px;">
      <h2>Adicionados:</h2>
        <div class="row">
          <!-- *ngFor = forEach (o let é a variável temporária atribuída)-->
          <!-- neste caso, ele é uma diretiva estrutural, pois altera o DOM diretamente.
          Diretivas estruturais, obrigatoriamente, começam com *-->
          <div class="col-2" *ngFor="let funcionario of funcionarios">
            <app-funcionario-card [funcionarioOnComponent]="funcionario"></app-funcionario-card>
          </div> 

        </div>

    </div>

</div>